---
import { getCollection } from "astro:content";

const posts = await getCollection("posts");

posts.sort(
  (a, b) => b.data.publishedAt.getTime() - a.data.publishedAt.getTime(),
);
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>投稿一覧</title>
  </head>
  <body>
    <h1>投稿一覧</h1>
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`/posts/${post.id}`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </body>
</html>
